# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg

# ASP.NET Core
wwwroot/
appsettings.*.json
*.db

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Node (if using npm)
node_modules/

# Backup / temp files
*.bak
*.tmp
*.swp